:root {
  --bg: white;
  --text: black;
  --textHover: green;
}

.darkMode {
  --bg: #222;
  --text: green;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
}